<template name="mainboard">
    <div class="ui stackable grid fluid ">
        <div class="ui row">
            <div class="ui eight wide fluid column">
                <div class="ui stackable centered grid fluid raised segment ">
                    <div class=" ui row ">
                        <h1>{{_ "mainboard_title"}}</h1>
                    </div>
                    <div class=" ui row ">
                        <h3>Moara Domneasca 1</h3>
                    </div>
                    <div class=" ui row ">
                        <div class="ui five wide column">
                            <div id="card" class="ui fluid card">
                                <div class="content">
                                    <div class="header left floated card_title">
                                        <i class="wi  wi-humidity larger left floated wi-fw"></i> {{_ "h10"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensorw1'}} cb</h1>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <div id="card" class="ui  fluid  card">
                                <div class="content">
                                    <div class="header  left floated card_title">
                                        <i class="wi  wi-humidity larger left floated wi-fw"></i> {{_ "h30"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensorw2'}} cb</h1>
                                </div>
                            </div>
                        </div>
                        <div class="ui five wide column">
                            <div id="card" class="ui  fluid  card">
                                <div class="content">
                                    <div class="header  left floated card_title">
                                        <i class="wi  wi-humidity larger left floated wi-fw"></i> {{_ "h50"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensorw3'}} cb</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui row ">
                        <div class="ui eight wide column">
                            <div id="card" class="ui  fluid card">
                                <div class="content">
                                    <div class="header  left floated card_title">
                                        <i class="wi  wi-thermometer larger left floated wi-fw"></i> {{_ "soil_temp_header"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensortempsoil_t'}} <strong>°C</strong> </h1>
                                </div>
                            </div>
                        </div>
                        <div class="ui eight wide column">
                            <div id="card" class="ui fluid card">
                                <div class="content">
                                    <div class="header left floated card_title">
                                        <i class="wi  wi-thermometer-exterior larger left floated wi-fw"></i> {{_ "air_temp_header"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensorair_temp'}} <strong>°C</strong> </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui row ">
                        <div class="ui eight wide column">
                            <div id="card" class="ui fluid card">
                                <div class="content">
                                    <div class="header left floated card_title">
                                        <i class="wi  wi-raindrops larger left floated wi-fw"></i> {{_ "pluv3_header"}}
                                      
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensormeteo_pluv3'}} mm</h1>
                                </div>
                            </div>
                        </div>
                        <div class="ui eight wide column">
                            <div id="card" class="ui fluid card">
                                <div class="content">
                                    <div class="header  left floated card_title">
                                        <i class="wi  wi-humidity larger left floated wi-fw"></i> {{_ "air_humid_header"}}
                                       
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensorair_humid'}} %</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" ui row ">
                        <div class="ui eight wide column">
                            <div id="card" class="ui fluid card">
                                <div class="content">
                                    <div class="header left floated card_title">
                                        <i class="wi  wi-direction-down-left larger left floated wi-fw"></i> {{_ "vane_header"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensormeteo_vane'}}</h1>
                                </div>
                            </div>
                        </div>
                        <div class="ui eight wide column">
                            <div id="card" class="ui fluid card">
                                <div class="content">
                                    <div class="header left floated card_title">
                                        <i class="wi  wi-strong-wind larger left floated wi-fw"></i> {{_ "ane_header"}}
                                    </div>
                                </div>
                                <div class="extra center aligned content">
                                    <h1>{{$.Session.get 'sensormeteo_ane'}} km/h</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eight wide column">
                <div class="ui stackable grid centered fluid raised segment ">
                    <h1>{{_ "mainboard_info"}}</h1>
                    <div class="row">
                        <div class="ui sixteen wide column">
                            <h1 class="ui fluid green raised segment">{{_ "no_reco"}}</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ui sixteen wide column">
                            <h1 class="ui fluid red raised segment">{{_ "dummy_alert1"}}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
