<template name="signUpPage">
	
	
	<header class="ui borderless item">
   	  <div id="mainpagelogo">
 		<div id ="main_title_login">CERES</div>
        <div id="second_title_login">SMART Agriculture</div>
   	   </div>
	</header>
    
 <!--    <img id ="jumboimage"  class="ui fluid" src="farmlogoblur.png" alt="jumboimage">
         -->
      <div class="signupcontainer">	
		   	{{> atForm state='signUp'}}
	  </div>

	   <div id="powered_login"><strong><i>powered by </i><b>NOKIA</b></strong></div>
	
</template>